extends layout 

block content 

    header
        if user
            h1 Welcome, !{user.username}
        else 
            h1 Home

    div.window


        if user 
            p
                a.button-link(href='/message') New Message


            if !user.admin_status
                p 
                    a(href='/admin') Become Admin

            if user.admin_status 
                p Admin privileges granted; you can delete messages.
            else if user 
                p You are a member. You can see message author and timestamp.
    
        else 
            p
                a.button-link(href='/login') Login

    
        div.message-container
            each message in messages 

                div.message-div
                    div.message-div-without-delete
                        div.message-left
                            if user 
                                p.message-author [ !{message.author.username} ]
                                p [ #{message.timeStampFormatted} ]
                    
                            else 
                                p [ ########## ]
                                p [ ##:##  ##/##/## ]
        
                        div.message-right
                            p.message-title !{message.title}
                            p !{message.text}

                    if user 
                        if user.admin_status 
                            a(href="/messages/" + message._id + "/delete")
                                button Delete
                            