extends layout 

block content 

    h1 Home!

    a(href='/login') Login

    if user 
        a(href='/message') New Message

    if user 
        p #{user.username} is here
    
    each message in messages 

        div.message-div
            if user 
                p #{message.author.username}
                p #{message.timeStamp}
        
            p #{message.title}
            p #{message.text}