extends layout 

block content 

    h1 Home!

    p
        a(href='/login') Login

    if user 
        p
            a(href='/message') New Message

        p #{user.username} is here

        p 
            a(href='/admin') Become Admin

        if user.admin_status 
            p You are admin. You can delete messages.
    
    div.message-container
        each message in messages 

            div.message-div
                if user 
                    p.message-author !{message.author.username}
                    p #{message.timeStamp}
        
                p.message-title !{message.title}
                p !{message.text}

                if user.admin_status 
                    button Delete 