extends layout 

block content 

    header
        h1=title 

    div.window
        form(action="" method='POST') 
            div.form-group
                label(for="username") Username:
                input.form-control(
                    name="username", 
                    type="text", 
                    required=true,
                    value=user===undefined ? '' : user.username
                    )

            div.form-group
                label(for="password") Password:
                input.form-control(
                    name="password", 
                    type="password", 
                    required=true,
                    value=user===undefined ? '' : user.password
                    )


            div.button-container
                button(type='submit') Log in

        if errors 
            ul 
                each error in errors 
                    li error.msg
            