extends layout 

block content 

    header
        h1=title

    div.window
        if !user
            p Not logged in 

        else 
            form(action="" method="POST") 
                div.form-group
                    label(for="title") Title
                    input.form-control(
                        name="title", 
                        type="text", 
                        required=true,
                        placeholder='Tip cows tomorrow?'
                        value=message===undefined ? '' : message.title
                        )
                div.form-group
                    label(for="text") Text
                    textarea.form-control(
                        name="text", 
                        cols="20", 
                        rows="10",
                        placeholder='Hey guys, got a free night tomorrow. How does tipping cows at the farm sound?',
                        value=message===undefined ? '' : message.text,
                        required=true,
                    ) 
                div.button-container
                    button(type='submit') Submit