extends layout 

block content 

    h1=title 

    div.window
        p Are you sure you want to delete this message? This action cannot be undone.


        div.message-div-without-delete
            div.message-left
                p.message-author !{message.author.username}
                p [ !{message.timeStampFormatted} ]
            div.message-right
                p.message-title !{message.title}
                p !{message.text}

        form(action="" method='POST') 
            input(
                type='hidden',
                required='true',
                value=message._id,
            )
            button(type='submit') Yeah, delete

        a(href="/home") No, go back